{% extends "dashboard/base.html" %}
{% load static %}
{% block content %}
    <div class="col-xl-6 col-lg-12">
        <div class="card">
            <div class="card-body">
                <p>Set heights using classes like <code class="highlighter-rouge">.form-control-lg</code> and <code class="highlighter-rouge">.form-control-sm</code>.</p>
                <div class="row row-sm">
                    <div class="col-lg">
                        <input class="form-control form-control-sm mb-4" placeholder="from-control-sm" type="text">
                        <input class="form-control  mb-4" placeholder=" Default from-control" type="text">
                        <input class="form-control form-control-lg" placeholder="from-control-lg" type="text">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}