{% extends "dashboard/base.html" %}
{% load static %}
{% block content %}
    <div class="main-content app-content mt-0">
        <div class="side-app">
            <div class="main-container container-fluid">
                <div class="page-header">
                    <h1 class="page-title">Manager List</h1>
                    <div>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0)">Staff</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Manager List</li>
                        </ol>
                    </div>
                </div>
                <div class="row row-cards">
                    <div class="col-lg-12 col-xl-12">
                        <div class="input-group mb-5">
                            <input type="text" class="form-control" placeholder="Search">
                            <div class="input-group-text btn btn-primary">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header border-bottom-0">
                                <h2 class="card-title">{{ total }} Managers In Our Team</h2>
                            </div>
                            <div class="e-table px-5 pb-5">
                                <div class="table-responsive table-lg">
                                    <table class="table border-top table-bordered mb-0">
                                        <thead>
                                            <tr>
                                                <th>Username</th>
                                                <th>Name</th>
                                                <th>Last Name</th>
                                                <th>Phone Number</th>
                                                <th>Date Joined</th>
                                                <th class="text-center">Fire Out</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for i in manager %}
                                                <tr>
                                                    <td class="text-nowrap align-middle">{{ i.username }}</td>
                                                    <td class="text-nowrap align-middle">{{ i.first_name  }}</td>
                                                    <td class="text-nowrap align-middle">{{ i.last_name  }}</td>
                                                    <td class="text-nowrap align-middle">{{ i.number  }}</td>
                                                    <td class="text-nowrap align-middle"><span>{{ i.date_joined  }}</span></td>
                                                    <td class="text-center align-middle">
                                                        {% if user.role == 1 %}
                                                            <div class="btn-group align-top">
                                                                <a class="modal-effect d-grid mb-3" data-bs-effect="effect-flip-vertical" data-bs-toggle="modal" href="#delete_manager"><button class="btn btn-sm btn-danger badge" type="button"><i class="fe fe-log-out"></i></button></a>
                                                            </div>
                                                        {% elif user == i %}
                                                            You cant fire out your self
                                                        {% elif user.role == 3 %}
                                                            <div class="btn-group align-top">
                                                                <a class="modal-effect d-grid mb-3" data-bs-effect="effect-flip-vertical" data-bs-toggle="modal" href="#delete_manager"><button class="btn btn-sm btn-danger badge" type="button"><i class="fe fe-log-out"></i></button></a>
                                                            </div>
                                                        {% else %}
                                                            You cant fire out cause of your role
                                                        {% endif %}
                                                    </td>
                                                    <div class="modal fade" id="delete_manager">
                                                        <div class="modal-dialog modal-dialog-centered text-center" role="document">
                                                            <div class="modal-content modal-content-demo">
                                                                <div class="modal-header">
                                                                    <h6 class="modal-title">Are You Sure?</h6><button aria-label="Close" class="btn-close" data-bs-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                                                                </div>
                                                                <form action="{% url 'delete-user' %}" method="post">
                                                                    {% csrf_token %}
                                                                        <div class="modal-body">
                                                                            <input type="password" class="form-control" name="password" placeholder="Password">
                                                                        </div>
                                                                        <div class="modal-footer">
                                                                            <a href="{% url 'delete-user' %}"><button class="btn btn-danger">Fire Out</button></a>
                                                                            <button class="btn btn-success" data-bs-dismiss="modal">Close</button>
                                                                        </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
{#                        <div class="mb-5">#}
{#                            <ul class="pagination float-end">#}
{#                                <li class="page-item page-prev disabled">#}
{#                                    <a class="page-link" href="javascript:void(0)" tabindex="-1">Prev</a>#}
{#                                </li>#}
{#                                <li class="page-item active"><a class="page-link" href="javascript:void(0)">1</a></li>#}
{#                                <li class="page-item"><a class="page-link" href="javascript:void(0)">2</a></li>#}
{#                                <li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>#}
{#                                <li class="page-item"><a class="page-link" href="javascript:void(0)">4</a></li>#}
{#                                <li class="page-item"><a class="page-link" href="javascript:void(0)">5</a></li>#}
{#                                <li class="page-item page-next">#}
{#                                    <a class="page-link" href="javascript:void(0)">Next</a>#}
{#                                </li>#}
{#                            </ul>#}
{#                        </div>#}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}