{% extends "dashboard/base.html" %}
{% load static %}
{% block content %}
    <style>
        .total:hover {
            color: greenyellow;
        }
        .done:hover {
            color: blue;
        }
        .open:hover {
            color: red;
        }
        .add_dev {
            margin-left: 1.5rem;
        }
    </style>
    <div class="main-content app-content">
        <div class="side-app">
            <div class="main-container container-fluid">
                <div class="row row-cards">
                    <div class="col-lg-12 col-xl-12">
                        <div class="card">
                            <div class="card-header" style="justify-content: center;">
                                {% if user.role == 1 %}
                                    <a class="modal-effect d-grid add_dev" data-bs-effect="effect-flip-vertical" data-bs-toggle="modal" href="#add_delivery"><button class="btn btn-sm btn-primary badge" type="button">Add Delivery</button></a>
                                    <div class="modal fade" id="add_delivery">
                                        <div class="modal-dialog modal-dialog-centered text-center" role="document">
                                            <div class="modal-content modal-content-demo">
                                                <form action="{% url 'delivery' %}" method="post">
                                                    {% csrf_token %}
                                                        <div class="modal-body">
                                                            <div class="mb-4">
                                                                <select class="form-control select2 form-select mb-4" name="category" data-placeholder="Choose one" required>
                                                                    <option>None</option>
                                                                    {% for i in waiter %}
                                                                        <option value="{{ i.id }}">{{ i.first_name }}&emsp;{{ i.last_name }}</option>
                                                                    {% endfor %}
                                                                </select>
                                                            </div>
                                                            <input type="text" class="form-control mb-4" name="owner" placeholder="Customer Name" required>
                                                            <input type="number" class="form-control mb-4" name="phone" placeholder="Customer Phone" required>
                                                            <input type="text" class="form-control mb-4" name="address" placeholder="Address">
                                                            <input class="form-control mb-4" name="date" placeholder="Date" type="date">
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button class="btn btn-success">Add</button>
                                                </form>
                                                            <button class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                                                        </div>
                                            </div>
                                        </div>
                                    </div>
                                {% elif user.role == 5 %}
                                    <a class="modal-effect d-grid add_dev" data-bs-effect="effect-flip-vertical" data-bs-toggle="modal" href="#add_delivery"><button class="btn btn-sm btn-primary badge" type="button">Add Delivery</button></a>
                                    <div class="modal fade" id="add_delivery">
                                        <div class="modal-dialog modal-dialog-centered text-center" role="document">
                                            <div class="modal-content modal-content-demo">
                                                <form action="{% url 'delivery' %}" method="post">
                                                    {% csrf_token %}
                                                        <div class="modal-body">
                                                            <div class="mb-4">
                                                                <select class="form-control select2 form-select mb-4" name="category" data-placeholder="Choose one" required>
                                                                    <option>None</option>
                                                                    {% for i in waiter %}
                                                                        <option value="{{ i.id }}">{{ i.first_name }}&emsp;{{ i.last_name }}</option>
                                                                    {% endfor %}
                                                                </select>
                                                            </div>
                                                            <input type="text" class="form-control mb-4" name="owner" placeholder="Customer Name" required>
                                                            <input type="number" class="form-control mb-4" name="phone" placeholder="Customer Phone" required>
                                                            <input type="text" class="form-control mb-4" name="address" placeholder="Address">
                                                            <input class="form-control fc-datepicker" name="date" placeholder="MM/DD/YYYY" type="text">
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button class="btn btn-success">Add</button>
                                                </form>
                                                            <button class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                                                        </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="table-responsive table-lg">
                                <table class="table border-top table-bordered mb-0" style="text-align: center;">
                                    <thead>
                                        <tr>
                                            <th>Deliver</th>
                                            <th>Customer Name</th>
                                            <th>Customer Phone</th>
                                            <th>Date</th>
                                            <th>Address</th>
                                            <th>Status</th>
                                            <th>Bill</th>
                                            {% if user.role == 1 %}
                                                <th>Update</th>
                                                <th>Delete</th>
                                            {% elif user.role == 5 %}
                                                    <th>Update</th>
                                                <th>Delete</th>
                                            {% endif %}
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for i in delivery %}
                                            <tr>
                                                {% if i.user %}
                                                    <td class="text-nowrap align-middle">{{ i.user.username }}</td>
                                                {% else %}
                                                    <td class="text-nowrap align-middle">None</td>
                                                {% endif %}
                                                <td class="text-nowrap align-middle">{{ i.owner.name }}</td>
                                                <td class="text-nowrap align-middle">+{{ i.owner.phone }}</td>
                                                <td class="text-nowrap align-middle">{{ i.date  }}</td>
                                                <td class="text-nowrap align-middle">{{ i.address  }}</td>
                                                {% if i.done == False %}
                                                    <td class="text-nowrap align-middle">Open</td>
                                                {% elif i.done == True %}
                                                    <td class="text-nowrap align-middle">Close</td>
                                                {% endif %}
                                                <td>{{ i.bill }}$</td>
                                                {% if user.role == 1 %}
                                                    <td><a href="#update_order{{ i.id }}" class="modal-effect" data-bs-effect="effect-flip-vertical" data-bs-toggle="modal"><i class="fe fe-edit-2"></i></a></td>
                                                    <div class="modal fade" id="update_order{{ i.id }}">
                                                        <div class="modal-dialog modal-dialog-centered text-center" role="document">
                                                            <div class="modal-content modal-content-demo">
                                                                <form action="{% url 'update-delivery' i.id %}" method="post">
                                                                    {% csrf_token %}
                                                                        <div class="modal-body">
                                                                                <input type="text" value="{{ i.address }}" class="form-control mb-4" name="address" placeholder="Address" required>
                                                                        </div>
                                                                        <div class="modal-footer">
                                                                            <button class="btn btn-success">Update</button>
                                                                </form>
                                                                            <button class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                                                                        </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <td><a href="#delete_order{{ i.id }}" class="modal-effect" data-bs-effect="effect-flip-vertical" data-bs-toggle="modal"><i class="fe fe-trash"></i></a></td>
                                                    <div class="modal fade" id="delete_order{{ i.id }}">
                                                        <div class="modal-dialog modal-dialog-centered text-center" role="document">
                                                            <div class="modal-content modal-content-demo">
                                                                <div class="modal-body">
                                                                    <h2 class="text-danger">Warning: If You Delete Order You Cant Restore It!</h2>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <a href="{% url 'delete-delivery' i.id %}"><button class="btn btn-danger"><i class="fe fe-trash"></i></button></a>
                                                                    <button class="btn btn-success" data-bs-dismiss="modal">Close</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% elif user.role == 5 %}
                                                    <td><a href="#update_order{{ i.id }}" class="modal-effect" data-bs-effect="effect-flip-vertical" data-bs-toggle="modal"><i class="fe fe-edit-2"></i></a></td>
                                                    <div class="modal fade" id="update_order{{ i.id }}">
                                                        <div class="modal-dialog modal-dialog-centered text-center" role="document">
                                                            <div class="modal-content modal-content-demo">
                                                                <form action="{% url 'update-delivery' i.id %}" method="post">
                                                                    {% csrf_token %}
                                                                        <div class="modal-body">
                                                                                <input type="text" value="{{ i.address }}" class="form-control mb-4" name="address" placeholder="Address" required>
                                                                        </div>
                                                                        <div class="modal-footer">
                                                                            <button class="btn btn-success">Update</button>
                                                                </form>
                                                                            <button class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                                                                        </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <td><a href="#delete_order{{ i.id }}" class="modal-effect" data-bs-effect="effect-flip-vertical" data-bs-toggle="modal"><i class="fe fe-trash"></i></a></td>
                                                    <div class="modal fade" id="delete_order{{ i.id }}">
                                                        <div class="modal-dialog modal-dialog-centered text-center" role="document">
                                                            <div class="modal-content modal-content-demo">
                                                                <div class="modal-body">
                                                                    <h2 class="text-danger">Warning: If You Delete Order You Cant Restore It!</h2>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <a href="{% url 'delete-delivery' i.id %}"><button class="btn btn-danger"><i class="fe fe-trash"></i></button></a>
                                                                    <button class="btn btn-success" data-bs-dismiss="modal">Close</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endif %}
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="text-center" >
                            <section class="text-center"  class="ftco-section bg-light">
                                {% if delivery.paginator.num_pages > 1 %}
                                    <nav aria-labelledby="Page navigations" >
                                        <ul class="pagination pagination-lg round-pagination" style="justify-content:center">
                                            {% if delivery.has_previous %}
                                                <li class="page-item">
                                                    <a class="page-link" href="?page={{ delivery.previous_page_number }}"><i class="bx bx-left-arrow-alt">previous</i></a>
                                                </li>
                                            {% endif %}
                                            {% for num in delivery.paginator.page_range %}
                                                {% if num == delivery.number %}
                                                    <li class="page-item active">
                                                        <a class="page-link" href="#" tabindex="-1">{{ num }}</a>
                                                    </li>
                                                {% elif num > delivery.number|add:'-3' and num < delivery.number|add:'3' %}
                                                    <li class="page-item">
                                                        <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                                                    </li>
                                                {% endif %}
                                            {% endfor %}
                                            {% if delivery.has_next %}
                                                <li class="page-item">
                                                    <a class="page-link" href="?page={{ delivery.next_page_number }}" aria-label="Next">
                                                        <i class="bx bx-right-arrow-alt">next</i>
                                                    </a>
                                                </li>
                                            {% endif %}
                                        </ul>
                                    </nav>
                                {% endif %}
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}