{% extends "dashboard/base.html" %}
{% load static %}
{% block content %}
    <div class="main-content app-content">
        <div class="side-app">
            <div class="main-container container-fluid">
                <div class="row row-cards">
                    <div class="col-lg-12 col-xl-12">
                        <div class="card">
                            {% if user.role == 1 %}
                                <div class="card-header">
                                    <a class="modal-effect" data-bs-effect="effect-flip-vertical" data-bs-toggle="modal" href="#add_product"><button class="btn btn-sm btn-primary badge" type="button">Add Product</button></a>
                                    <div class="modal fade" id="add_product">
                                        <div class="modal-dialog modal-dialog-centered text-center" role="document">
                                            <div class="modal-content modal-content-demo">
                                                <form action="{% url 'order-item' %}" method="post">
                                                    {% csrf_token %}
                                                        <div class="modal-body">
                                                            <div class="mb-4">
                                                                <select class="form-control select2 form-select mb-4" name="order" data-placeholder="Choose one" required>
                                                                    {% for i in order %}
                                                                        <option value="{{ i.id }}">{{ i.owner.name }}</option>
                                                                    {% endfor %}
                                                                </select>
                                                            </div>
                                                            <div class="mb-4">
                                                                <select class="form-control select2 form-select mb-4" name="food" data-placeholder="Choose one">
                                                                    <option class="form-control">Nothing</option>
                                                                    {% for i in product %}
                                                                        <option value="{{ i.id }}">{{ i.name }}</option>
                                                                    {% endfor %}
                                                                </select>
                                                            </div>
                                                            <div class="mb-4">
                                                                <select class="form-control select2 form-select mb-4" name="product" data-placeholder="Choose one">
                                                                    <option class="form-control">Nothing</option>
                                                                    {% for i in food %}
                                                                        <option value="{{ i.id }}">{{ i.name }}</option>
                                                                    {% endfor %}
                                                                </select>
                                                            </div>
                                                            <input type="number" class="form-control mb-4" name="quantity" placeholder="Quantity" required>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button class="btn btn-success">Add Product</button>
                                                            <button class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                                                        </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% elif user.role == 3 %}
                                <div class="card-header">
                                    <a class="modal-effect d-grid mb-3" data-bs-effect="effect-flip-vertical" data-bs-toggle="modal" href="#add_product"><button class="btn btn-sm btn-primary badge" type="button">Add Product</button></a>
                                    <div class="modal fade" id="add_product">
                                        <div class="modal-dialog modal-dialog-centered text-center" role="document">
                                            <div class="modal-content modal-content-demo">
                                                <form action="{% url 'order-item' %}" method="post">
                                                    {% csrf_token %}
                                                         <div class="modal-body">
                                                            <div class="mb-4">
                                                                <select class="form-control select2 form-select mb-4" name="order" data-placeholder="Choose one" required>
                                                                    {% for i in order %}
                                                                        <option value="{{ i.id }}">{{ i.owner.name }}</option>
                                                                    {% endfor %}
                                                                </select>
                                                            </div>
                                                             <div class="mb-4">
                                                                 <select class="form-control select2 form-select mb-4" name="food" data-placeholder="Choose one" required>
                                                                     <option class="form-control"></option>
                                                                     {% for i in food %}
                                                                         <option value="{{ i.id }}">{{ i.name }}</option>
                                                                     {% endfor %}
                                                                 </select>
                                                             </div>
                                                             <select class="form-control select2 form-select mb-4" name="product" data-placeholder="Choose one" required>
                                                                 <option></option>
                                                                 {% for i in product %}
                                                                     <option value="{{ i.id }}">{{ i.name }}</option>
                                                                 {% endfor %}
                                                             </select>
                                                            <input type="number" class="form-control mb-4" name="quantity" placeholder="Quantity" required>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button class="btn btn-success">Add Order Item</button>
                                                            <button class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                                                        </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                            <div class="e-table px-5 pb-5">
                                <div class="table-responsive tc table-lg">
                                    <table class="table border-top table-bordered mb-0" style="text-align: center">
                                        <thead>
                                            <tr>
                                                <th>Order</th>
                                                <th>Food</th>
                                                <th>Product</th>
                                                <th>Quantity</th>
                                                <th>Update</th>
                                                <th>Delete</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for i in item %}
                                                <tr>
                                                    <td class="text-nowrap align-middle">{{ i.order.user.first_name }}</td>
                                                    {% if i.food %}
                                                        <td class="text-nowrap align-middle">{{ i.food.name  }}</td>
                                                    {% elif i.food == None %}
                                                        <td class="text-nowrap align-middle">{{ i.food }}</td>
                                                    {% endif %}
                                                    {% if i.product %}
                                                        <td class="text-nowrap align-middle">{{ i.product.name }}</td>
                                                    {% else %}
                                                        <td class="text-nowrap align-middle">{{ i.product }}</td>
                                                    {% endif %}
                                                    <td class="text-nowrap align-middle">{{ i.quantity  }}</td>
                                                    <td><a href="#" class="modal-effect" data-bs-effect="effect-flip-vertical" data-bs-toggle="modal" ><i class="fe fe-edit-2"></i></a></td>
                                                    <td><a href="#delete_order{{ i.id }}" class="modal-effect" data-bs-effect="effect-flip-vertical" data-bs-toggle="modal" ><i class="fe fe-trash"></i></a></td>
                                                    <div class="modal fade" id="delete_order{{ i.id }}">
                                                        <div class="modal-dialog modal-dialog-centered text-center" role="document">
                                                            <div class="modal-content modal-content-demo">
                                                                <div class="modal-body">
                                                                    <h2 class="text-danger">Warning: If You Delete Order Item You Cant Restore It!</h2>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <a href="{% url 'delete-order-item' i.id %}"><button class="btn btn-danger"><i class="fe fe-trash"></i></button></a>
                                                                    <button class="btn btn-success" data-bs-dismiss="modal">Close</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
{#                        <div class="mb-5">#}
{#                            <ul class="pagination float-end">#}
{#                                <li class="page-item page-prev disabled">#}
{#                                    <a class="page-link" href="javascript:void(0)" tabindex="-1">Prev</a>#}
{#                                </li>#}
{#                                <li class="page-item active"><a class="page-link" href="javascript:void(0)">1</a></li>#}
{#                                <li class="page-item"><a class="page-link" href="javascript:void(0)">2</a></li>#}
{#                                <li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>#}
{#                                <li class="page-item"><a class="page-link" href="javascript:void(0)">4</a></li>#}
{#                                <li class="page-item"><a class="page-link" href="javascript:void(0)">5</a></li>#}
{#                                <li class="page-item page-next">#}
{#                                    <a class="page-link" href="javascript:void(0)">Next</a>#}
{#                                </li>#}
{#                            </ul>#}
{#                        </div>#}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}