{% extends "dashboard/base.html" %}
{% load static %}
{% block content %}
<div class="main-content app-content mt-0">
    <div class="side-app">
        <div class="main-container container-fluid">
            <div class="page-header">
                <h1 class="page-title">CRM Call-Center Dashboard</h1>
                <div>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">{{ salary }}</a></li>
                        <li class="breadcrumb-item active" aria-current="page">CRM For ChoyXona</li>
                    </ol>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xl-3">
                            <div class="card overflow-hidden">
                                <div class="card-body">
                                    <div class="d-flex">
                                        <div class="mt-2">
                                            <h6 class="card-title">Total Clients</h6>
                                            <a href="{% url 'client' %}" style="color: black"><a href="{% url 'client' %}" style="color: black"><h2 class="mb-0 number-font">{{ client }}</h2></a></a>
                                        </div>
                                        <div class="ms-auto">
                                            <div class="chart-wrapper mt-1">
                                                <img src="{% static 'assets/images/director/client.png' %}" width="100px" height="100px">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xl-3">
                            <div class="card overflow-hidden">
                                <div class="card-body">
                                    <div class="d-flex">
                                        <div class="mt-2">
                                            <h6 class="card-title">Total Salary</h6>
                                            <h2 class="mb-0 number-font">{{ salary }}</h2>
                                        </div>
                                        <div class="ms-auto">
                                            <div class="chart-wrapper mt-1">
                                                <img src="{% static 'assets/images/director/revenue.png' %}" width="100px" height="100px">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xl-3">
                            <div class="card overflow-hidden">
                                <div class="card-body">
                                    <div class="d-flex">
                                        <div class="mt-2">
                                            <h6 class="card-title">Free Rooms</h6>
                                            <a href="{% url 'free-room' %}" style="color: black"><h2 class="mb-0 number-font">{{ room }}</h2></a>
                                        </div>
                                        <div class="ms-auto">
                                            <div class="chart-wrapper mt-1">
                                                <img src="{% static 'assets/images/call-center/room.png' %}" width="100px" height="100px">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xl-3">
                            <div class="card overflow-hidden">
                                <div class="card-body">
                                    <div class="d-flex">
                                        <div class="mt-2">
                                            <h6 class="card-title">Available Orders</h6>
                                            <a href="{% url 'open-order' %}" style="color: black"><h2 class="mb-0 number-font">{{ available }}</h2></a>
                                        </div>
                                        <div class="ms-auto">
                                            <div class="chart-wrapper mt-1">
                                                <img src="{% static 'assets/images/waiter/closed.png' %}" width="100px" height="100px">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}